
body{
    margin: 0;
    background-color: lightgray;
}


.top{
    background-color: black;
    height: 100px;
    width: 100%;
}
.main{
    width: 100%;
    float: left;
}

.right{
    width: 300px;
    height: 400px;
    background-color:white;
    float: left;
    margin-top: 20px;
    margin-left: -320px;
    margin-right: 20px;
    box-shadow: 5px 5px 5px #888888;
}

.mid{
    background-color: #fefff9;
    margin-right: 340px;
    margin-left: 20px;
    box-shadow: 5px 5px 5px #888888;
}

img{
  height: 100%;
    max-width: 100px;
}
.pic{
    width: 150px;
    height: 200px;
    float: left;
    margin:20px;
}

